:root {
  --primary-color: #3f51b5;
  --secondary-color: #ff4081;
  --background-color: #f5f5f5;
  --text-color: #2c2c2c;
  --accent-color: #464646;
  --border-radius: 8px;

  --font-size-base: 16px;
  --font-size-sm: 14px;

  --btn-primary-color: #4caf50;
  --btn-secondary-color: #e0e0e0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
}
